<h2>Add a book to your favorites</h2>
<form action="/readers" method="POST">
<p>Author: <input id="book_author_2" type="text" name="reader[books][][author]"></p>
    <p>Title: <input id="book_title_1" type="text" name="reader[books][][title]"></p>
       <p>Year: <input id="book_year_1" type="text" name="perader[books][][year]"></p>
              <p>Notes: <input id="book_notes_1" type="text" name="reader[books][][notes]"></p>
</form>